@model Task1.Models.Car.Car
@{
}
<h1>Add Cars</h1>

<form method="post" action="Add" class="mb-5">
    <div class="mb-3"style="border-block-color:forestgreen">
        <label for="" class="form-label">Manufacturer</label>
        <input type="text" class="form-control" asp-for="Manufacturer" >
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Model</label>
        <input type="text" class="form-control" asp-for="Model">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Color</label>
        <input type="text" class="form-control" asp-for="Color">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Price</label>
        <input type="number" class="form-control" asp-for="Price">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

